@import 'tailwindcss';

:root{
    --max-h: 600px;
}

.hero-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    @apply relative z-0 w-full gap-2 mb-5 text-white h-auto max-h-[var(--max-h)] overflow-hidden;
}

.hs-1{
    @apply col-start-1 max-h-[var(--max-h)];
}

.hs-2{
    @apply col-start-2 flex flex-col w-full h-full gap-2 max-h-[var(--max-h)];
} 

.hero-card{
    @apply relative z-0 w-full h-full block;
}

.small-hero{
    @apply w-full max-h-[calc(300px-4px)];
}

.hero-img{
    @apply w-full h-full block object-cover;
}

.hero-ol{
    @apply z-10 absolute inset-0 flex flex-col bg-[#0000003f];
}

.hero-ol-main{
    @apply flex flex-col text-lg font-medium w-full py-5 px-3 mt-auto;
}

.hc-title{
    font-family: 'Libre Franklin';
    @apply text-4xl font-bold;
}

.small-hero .hc-title{
    @apply text-lg;
}

.small-hero .hero-ol-main{
    @apply text-base;
}