---
import { HomeSections } from "../../config/HomeSecton/config";
import BlogCard from "../BlogCard/BlogCard";
//CH == Custom Heading
const {
  sectionName,
  customHeading: CH = null,
  customId = null,
  exclude,
} = Astro.props;
const sectionObj = HomeSections.find((i) => i.name == sectionName);
if (!sectionObj) return null;
const { list, name, type } = sectionObj;
const isCategory = type == "category";
//href={`/category/${name.replaceAll(/\s+/gi, "-").toLowerCase()}`}
---

<section id={customId ?? ""} class="home-section">
  {
    isCategory ? (
      <header class="hs-heading">{CH ? CH : name}</header>
    ) : (
      <header class="hs-heading">{CH ? CH : name}</header>
    )
  }
  <ul class="hs-list">
    {
      list.slice(0, 5).map((obj) => {
        if (obj.title == exclude) return null;
        return (
          <li>
            <BlogCard BcObject={obj} />
          </li>
        );
      })
    }
  </ul>
</section>
