@import "tailwindcss";
@config '../../tailwind.config.js';

/* body{
    @apply antialiased text-base text-black bg-white dark:text-white dark:bg-black   w-full h-full overflow-x-hidden;
} */

:root{
    --light-text: #000; 
    --dark-text: #fff;
    --light-dd: #B7410E;
    --dark-dd: #FF7F50;
    --light-h-dd: #99320C;
    --dark-h-dd: #E76E45;
    --light-third: #008080;
    --light-h-third: #006d6d;
    --dark-third: #007BA7;
    --light-link: #0000ff;
    --dark-link: #4ea1ff;
}

body{
    @apply antialiased text-base w-full h-full overflow-x-hidden bg-white text-[var(--light-text)] dark:bg-black dark:text-[var(--dark-text)];
}

svg{
    @apply fill-[var(--light-text)] dark:fill-[var(--dark-text)];
}

.main-body{
    @apply px-3 pt-3 flex flex-col items-center;
}

.mb-child{
    @apply flex flex-col self-center w-full max-w-[1300px] min-h-[100vh];
}

.mbc-blog-page{
    @apply max-w-[1000px];
}

.mbc-about-page{
    @apply max-w-[1000px];
}

.hov-ul:hover{
    @apply underline;
}

.hov-no-ul:hover{
    @apply no-underline;
}

.link{
    @apply text-[var(--light-link)] dark:text-[var(--dark-link)];
}

.loader-1{
    @apply animate-spin rounded-full h-6 w-6 border-3 border-t-transparent border-[white];
}