---
import { Icon } from "../../icons/icons";
const { next, prev } = Astro.props;
if (!prev && !next) return null;
---

<section class="next-prev-posts">
  {
    prev && (
      <a aria-label="previous post" href={"/" + prev} class="npp-btn">
        <Icon name="keyleft" />
        <span class="npp-text">PREVIOUS POST</span>
      </a>
    )
  }
  {
    next && (
      <a aria-label="next post" href={"/" + next} class="npp-btn">
        <span class="npp-text">NEXT POST</span>
        <Icon name="keyright" />
      </a>
    )
  }
</section>
