---
const { toc } = Astro.props;
if (!toc) return null;
---

<nav id="table-of-contents" aria-label="Table of contents" class="toc-section">
  <h4 class="toc-text">TABLE OF CONTENTS</h4>
  <ol class="toc-list">
    {
      toc?.map((obj: any) => (
        <li>
          <a href={obj.link} class="underline link" title={obj.text}>
            {obj.text}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
