---
import Layout from "../../layouts/Layout.astro";
import "../../styles/pages/BlogPage/creator-section.css";
import HomeSection from "../../components/HomePage/HomeSection.astro";
---

<Layout>
  <div class="flex justify-center mt-2 sm:mt-5">
    <span class="csp-head all-ar-head">All Articles </span>
  </div>
  <HomeSection sectionName="All" customHeading=" " />
</Layout>
