---
import BlogCard from "../components/BlogCard/BlogCard";
import { Navbar } from "../components/Navbar/Navbar";
import type { BcObject } from "../types/BlogCard/blogcard";
import '../styles/global.css';
const bco: BcObject = {
  title: "How Anikawa became the most succesful site",
  subTitle: "",
  author: "MasterMind",
  date: "12 / 6 / 2025",
  img: "https://images.pexels.com/photos/33856909/pexels-photo-33856909.jpeg",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar client:load />
    <main class="main-body">
      <BlogCard BcObject={bco} />
    </main>
  </body>
</html>
