@import 'tailwindcss';
@config '../../../../tailwind.config.js';

.navbar {
    @apply fixed z-[50] w-full bg-white dark:bg-black flex items-center justify-between px-5 py-4 md:px-10 h-max;
}

.nav-menu-btn {
    @apply cursor-pointer mr-4 sm:hidden;
}

.nav-mob-overlay {
    @apply absolute z-[50] bg-[var(--light-third)] top-[100%] left-0 flex-col py-3 w-[100vw];
}

.nmo-btn {
    @apply flex justify-center items-center h-10 hover:bg-[var(--light-h-third)] text-white font-medium;
}

.site-logo {
    font-family: 'Montserrat' sans-serif;
    /* font-family: 'Montserrat'; */
    @apply flex flex-row items-center justify-center gap-3 text-2xl md:text-3xl font-bold tracking-wide cursor-pointer text-left;
}

.site-icon{
    @apply w-14 aspect-square;
}

.hide-for-sb {
    @apply hidden sm:flex;
}

.nav-middle {
    @apply hidden items-center justify-center flex-wrap gap-4 sm:flex;
}

.nav-middle.hidden {
    @apply hidden;
}

.nm-btn {
    @apply text-lg font-medium underline cursor-pointer;
}

.dd-btn {
    @apply flex items-center p-1;
}

.nm-btn:hover {
    @apply no-underline;
}

.nav-right {
    @apply flex items-center justify-center gap-4;
}

.theme-btn {
    @apply cursor-pointer;
}

.search-btn {
    @apply cursor-pointer hidden sm:flex lg:hidden;
}

.search-bar-sec{
    @apply w-full max-w-[300px];
}

.sbs-mob{
    @apply flex-center gap-5 px-10 w-full h-full max-w-[500px] py-3;
}

.sbs-mob svg{
    @apply fill-white;
}

.search-bar {
    @apply rounded-tl-2xl rounded-br-2xl outline-2 dark:outline-gray-500 dark:placeholder-gray-200  p-1 pl-3 text-base w-[250px] lg:w-full h-fit;
}

.sb-mob{
    @apply outline-white text-white placeholder-gray-300 flex gap-5 w-full h-full;
}

.nm-hover-dd {
    @apply relative z-[50];
}

.dd-main {
    @apply bg-[var(--light-dd)] dark:bg-[var(--dark-dd)] absolute w-[200px] py-2 overflow-hidden;
}

.dd-btn {
    @apply flex items-center w-full text-white dark:text-black text-sm pl-2;
}

.dd-btn:hover {
    @apply bg-[var(--light-h-dd)] dark:bg-[var(--dark-h-dd)];
}

/* @media (max-width: 640px) {
    .nav-middle {
        @apply fixed z-[60] bg-[var(--light-third)] flex flex-col w-[100vw] py-3 top-[66px] left-0 text-white dark:text-white;
    }

    .nm-btn.h-dd-btn{
        @apply w-fit block justify-normal;
    }

    .nm-btn{
        @apply w-full flex justify-center hover:bg-[var(--dark-third)];
    }

    .nm-hover-dd {
        @apply static w-full border-t-1;
    }

    .dd-main {
        @apply static flex-col w-[100vw] bg-[var(--light-third)] dark:bg-[var(--light-third)] items-center;
    }
    .dd-btn{
        @apply text-base w-[100vw] justify-center hover:bg-[var(--dark-third)] dark:text-white;
    }
} */

/*show / hide animations*/

:root {
    --anim-t: 0.2s;
}

.show {
    display: flex !important;
    transition: display var(--anim-t) allow-discrete;
}

.hid {
    display: none !important;
    transition: display var(--anim-t) allow-discrete;
}

.hid .dd-main,
.hid .search-bar,
.hidden .nav-mob-overlay {
    animation: vanish var(--anim-t) !important;
}

.show .dd-main,
.show .search-bar,
.show .nav-mob-overlay {
    animation: appear var(--anim-t) !important;
}


@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}