---
import { Navbar } from "../components/Navbar/Navbar";
import Footer from "../components/Footer/Footer";
import "../styles/global.css";
import Head from "../SEO/Head.astro";

const { pageHead = null, forPage } = Astro.props;
let extraClass = "";
switch (forPage) {
  case "blog":
    extraClass = "mbc-blog-page";
    break;
  case "about":
    extraClass = "mbc-about-page";
    break;
}
---

<html lang="en">
  <Head head={pageHead}/>
  <body>
    <Navbar client:load />
    <div class="flex w-full py-4">
      <span class="h-[56px] w-full">|</span>
    </div>
    <main class="main-body">
      {
        forPage == "blog" ? (
          <article aria-label="Listicle body" class={`mb-child ${extraClass}`}>
            <slot />
          </article>
        ) : (
          <div class={`mb-child ${extraClass}`}>
            <slot />
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
