---
import { Navbar } from "../components/Navbar/Navbar";
import Footer from "../components/Footer/Footer";
import "../styles/global.css";
import Head from "../SEO/Head.astro";

const { pageHead, forPage, title } = Astro.props;
let extraClass = "";
switch (forPage) {
  case "blog":
    extraClass = "mbc-blog-page";
    break;
  case "about":
    extraClass = "mbc-about-page";
    break;
}
---

<html lang="en">
  <Head />
  <body>
    <Navbar client:load />
    <main class="main-body">
      <div class={`mb-child ${extraClass}`}>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
